---
title: Speaking Topics and Upcoming Events
permalink: "/speaking/"
layout: interior
comments: 'off'
baseLayout: container--full
---

<style>

    .speaking-grid {
        grid-row: 1;
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        grid-gap: 1vw;
    }

    .speaking-contact {
        grid-row: 1;
        grid-column: 5 / 7;
        position: sticky;
        top: 10px;
        align-self: start;
    }
    @media (max-width: 725px) {
        .container--full {
            display: block;
        }
    }
</style>



<form class="speaking-contact" netlify netlify-honeypot="bot_capture" name="speaking" action="/thanks/">
    <h2>Invite me to speak</h2>
    <label for="full_name">Full Name *</label>
    <input type="text" required name="full_name" id="full_name">

    <label for="__replyto">Email Address *</label>
    <input type="email" required name="__replyto" id="__replyto">

    <label for="organization">Conference or Company</label>
    <input type="email" name="organization" id="organization">

    <fieldset>
        <legend>Which Presentation?</legend>
        {% for presentation in site.presentations %}<label for="{{ presentation.title | slugify }}"><input type="checkbox" name="{{ presentation.title | slugify }}" id="{{ presentation.title | slugify }}" value="{{ presentation.title }}"> {{ presentation.title }}</label> {% endfor %}
    </fieldset>

    <label for="message">Message *</label>
    <textarea id="message" required name="message" rows="4" cols="80"></textarea>
    
    <input type="hidden" name="page" id="page" value="{{ page.url }}">
    <div style="display: none;">
        <label for="bot_capture">Don't fill this out</label><input name="bot_capture" type="text">
    </div>
    <input type="submit" value="Start the Conversation">
</form>



<main class="speaking-grid">
        {% for presentation in site.presentations reversed %}
            <article class="stripe item {% cycle  'primary', 'deep', 'neutral', 'neutral' %} container--{% cycle 'right', 'center', 'left' %} {{ presentation.grid-size }}">
                <h2><a href="{{ presentation.url }}">{{ presentation.title }}</a></h3>
                <div class="description">
                    <p>{{ presentation.description }}</p>
                    <a href="{{ presentation.url }}" title="{{ presentation.title }}">Read More &raquo;</a>
                </div>
            </article>
        {% endfor %}
</main>
   
