@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic);
body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(18px + .5vw);
  line-height: calc(1em + .7vw); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Delius Unicase', cursive;
  font-style: normal;
  font-weight: 400; }

h1 {
  font-size: calc(2.5em + 1vw);
  line-height: calc(1em + .7vw); }

h2 {
  font-size: calc(1.5 + 1vw);
  line-height: calc(1em + .7vw); }

body {
  background: #eff6e0;
  color: #3f3f3f; }

.logo .angle {
  fill: #ed6a5a; }

.logo .top {
  fill: #235980; }

.logo .bottom {
  fill: #235980; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.container {
  width: 80%;
  margin: 0 auto; }
