<footer class="footer">

    <section class="sides">
        <h4 class="sides__header">My Side Projects</h4>
        <li class="sides__item"><a href="http://memphiswebworkers.com"><img src="/images/sides/side-webworkers.png" alt="Web Workers Logo"></a></li>
        <li class="sides__item"><a href="http://tinyletter.com/code-contemporary"><img src="/images/sides/side-cc.png" alt="Web Workers Logo"></a></li>
        <li class="sides__item"><a href="http://memphistechnology.org"><img src="/images/sides/side-mtf.png" alt="Web Workers Logo"></a></li>
        <li class="sides__item"><a href="http://hackmemphis.com"><img src="/images/sides/side-hm.png" alt="Web Workers Logo"></a></li>
    </section>

    <main class="footer-large">


        <section class="footer__contact">
            <h4>Get in Touch</h4>
            <p>Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum </p>
            <p>Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum Lorem ipsum dolor amet sum </p>
        </section>

        <section class="socials">
            <a href="#">Twitter</a>
            <a href="#">GitHub</a>
        </section>
    </main>


    <script type="text/javascript" src="/js/prism.js"></script>

</footer>
<section class="copyright">
    &copy 2017 Bryan L. Robinson
</section>
