<h2 class="section-header">Latest Articles</h2>

<section class="grid grid--latest">


{% for item in site.posts limit: 9 %}

    <article class="item {% cycle  'primary', 'deep', 'neutral', 'primary', 'neutral' %}">
        <time class="date">{{ item.date | date:"%d %b, %Y" }}</time>
        <h2><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h2>
        <p class="description">{{ item.description | truncatewords: 35, "..." }}</p>
        <a href="{{ item.url }}" title="{{ item.title }}" class="button">Read More</a>
    </article>

{% endfor %}

    <article class="item bright">
        <h2><a href="/blog">Interested in More?</a></h2>
        <a href="/blog" class="button">See All Posts</a>
    </article>

    <article class="item promo bright">
        <h2><a href="http://codepen.io/brob/">I post regular experiments to CodePen</a></h2>
        <p class="description">If you're interested in the random things I'm working up, I post them to CodePen. Even though, I've got a pro account, I'm really bad at keeping things "private."</p>
        <a href="http://codepen.io/brob/" class="button">See the Pens</a>
    </article>

</section>
