<section class="projects">
    <h2 class="section-header">A small selection of projects</h2>
    <article class="project">
        <figure><img class="project_image" src="" alt=""></figure>
        <main class="project_details">
            <h3 class="project_headline">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat, enim lacinia scelerisque pellentesque, quam magna sodales felis, a egestas est tellus quis lectus. Morbi eget vehicula enim. Proin a molestie nibh, eu consequat magna. Morbi hendrerit iaculis dictum. Praesent congue est at tortor maximus, at condimentum justo sollicitudin. Donec ac scelerisque lorem. Cras fringilla ultrices elit vel luctus.

</p>
            <a href="#" class="button primary">View the Project &raquo;</a>
        </main>

    </article>

    <article class="project neutral">
        <figure><img class="project_image" src="" alt=""></figure>
        <main class="project_details">
            <h3 class="project_headline">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat, enim lacinia scelerisque pellentesque, quam magna sodales felis, a egestas est tellus quis lectus. Morbi eget vehicula enim. Proin a molestie nibh, eu consequat magna. Morbi hendrerit iaculis dictum. Praesent congue est at tortor maximus, at condimentum justo sollicitudin. Donec ac scelerisque lorem. Cras fringilla ultrices elit vel luctus.

</p>

            <a href="#" class="button">View the Project &raquo;</a>
        </main>

    </article>


</section>
