.footer {
    display: flex;
    justify-content: space-between;
    background-color: darken($brand, 10%);
    padding: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    a path {
        transition: .3s ease-out;
    }
    svg {
        height: 55px;
        width: 55px;
        margin: 0 10px;
    }
    g, path {
        fill: $brand-light;
    }
    a:hover path {
        fill: darken($brand-light, 20%);
    }

}
.footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
    .top {
        fill: $brand-light;
    }
}
