
.grid--simple {
    display: block;
    margin-bottom: 60px;

    h2 {
        max-width: 100%;
    }
    .description {
        width: 100%;
        max-width: 70vw;
    }
    .button {
        align-self: auto;
        width: 100%;
        text-align: center;
    }
    @media (min-width: 420px) {
        display: flex;
        flex-wrap: wrap;
        .button {
            // max-width: 50vw;
        }
    }

    @include grid-support {
        @media (min-width: 450px) {
            display: grid;
            grid-auto-flow: dense;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: calc(.5rem + .5vw);
        }

    }


    .item {
        flex: 1 30%;
        padding: 40px 5%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;


        @supports not(display:grid) {
            margin: 20px;
        }

        @include grid-support {
            @media (min-width: 450px) {
            grid-row: span 1;
            grid-column: span 2;

        }


            @media (min-width: 950px) {

                &.small {

                    .button {
                        font-size: .8em;
                        padding: 5px 3%;
                    }
                    h2 {
                        font-size: 1em;
                    }
                }

                &.small {
                    grid-column: span 1;
                }
                &.large {
                    grid-column: span 4;
                }
                &.super {
                    grid-column: span 4;
                    grid-row: span 2;
                }
            }
        }
    }

}


$stripe-background-color: $color-light;
$stripe-background-secondary-color: darken($color-neutral, 10%);
$stripe-foreground-color: $color-brand;
$stripe-foreground-secondary-color: $color-accent;
$stripe-padding: calc(1rem + 2vw) 2vw;
$stripe-font-vw: 1vw;
$stripe-description-font-size: .8rem;
$stripe-headline-font-size: 1.8rem;


@mixin stripe-theme($background: $stripe-background-color, $foreground: $stripe-foreground-color) {
    background-color: $background;

    .stripe_headline {
        color: $foreground;

    }
    a {
        color: $foreground;
        &:hover {
            color: darken($foreground, 15%);
        }
    }

}

.stripe {
    padding: $stripe-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_headline {
        text-align: left;
        color: $stripe-foreground-color;
        font-size: $stripe-headline-font-size;
        margin-bottom: 1rem;
        line-height: calc(1.2em + .5vw);

    }
    &_description {
        column-width: 500px;
        margin-bottom: 20px;
        & p {
            font-size: $stripe-description-font-size;
        }
    }
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_image {
        margin: 0 auto calc(1rem + 1vw);
        max-width: 30%;
        min-width: 300px;
    }
    .button {
        display: block;
        text-align: center;
    }
}


.stripe.primary {
    @extend .stripe;
    @include stripe-theme;
}
.stripe.neutral {
    @extend .stripe;
    @include stripe-theme($stripe-background-secondary-color, $stripe-foreground-secondary-color);
}

.stripe.deep {
    @extend .stripe;
    @include stripe-theme($color-brand, $white);
    color: $color-light-gray;
}

.projects .stripe {
    align-items: center;
}
