.container {
    width: 80%;
    margin: 0 auto;
    &-narrow {
        max-width: 950px;
    }
}

%main-headlines {
    text-align: left;
    @media (min-width: 900px) {
      text-align: center;
    }
}
.main-headline {
    @extend %main-headlines;
    @include secondary-font;
    color: $brand;
    margin-bottom: .25rem;

}
.secondary-headline {
    @extend %main-headlines;
    color: $brand-accent;
}
.section-header {
    @extend %main-headlines;
    @include secondary-font;
    color: $brand;
    font-size: calc(1em + 1vw);
}

.about {
    padding: 70px 0;

    .headshot {
        float: left;
        shape-outside: circle();
        width: 35%;
        border-radius: 50%;
        margin-right: 3vw;
        border: 5px solid $brand;
        @media (min-width: 600px) {
            width: 20%;
        }
    }
    p:last-child {
      clear: both;
    }
}
