.actions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.action {
    text-decoration: none;
    display: block;
    @include secondary-font;
    font-size: 1.2rem;
    color: $brand-light;
    margin: 10px 30px 10px 0;
    &::first-child {
        margin-left: 0;
    }
    &:hover {
        color: $brand-accent;
    }
}
