$button-padding: 20px 40px;
$button-font-color: $brand-neutral;
$button-background-color: $brand-accent;
$button-font-size: 1.2em;
$transition-speed: .3s;
$border-size: 1px;

@mixin button-theme($bg-color, $color, $bg-hover: $color, $text-hover: $color, $border-color: $bg-color, $border-color-hover: $bg-hover) {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;

    &:hover {
        color: $text-hover;
        background-color: $bg-hover;
        border-color: $border-color-hover;

    }
}

%button {
   display: inline-block;
   box-sizing: border-box;
   border-radius: 3px;
   border-width: $border-size;
   border-style: solid;
   padding: $button-padding;
   font-size: $button-font-size;
   text-decoration: none;
   transition: $transition-speed ease-out;

}

.button {
    @extend %button;
    @include button-theme(    $button-background-color, $button-font-color,
                              $bg-hover: darken($button-background-color, 10%),
                              $border-color: $button-font-color,
                              $border-color-hover: $button-font-color);

    &.primary {
        @include button-theme(    $brand, $button-font-color,
                                  $bg-hover: darken($brand, 10%),
                                  $border-color: $button-font-color,
                                  $border-color-hover: $button-font-color);
    }
}
