.grid--latest {
    display: block;
    margin-bottom: 60px;

    h2 {
        max-width: 100%;
    }
    .description {
        width: 100%;
    }
    .button {
        align-self: auto;
        width: 100%;
        text-align: center;
    }
    @media (max-width: 500px) {
        display: flex;
        flex-wrap: wrap;


    }

    @include grid-support {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: calc(.5rem + .5vw);

        grid-template-areas: "main   main main    second   third fourth"
                             "main   main main    fifth    fifth fifth"
                             "promo  promo promo  promo    promo promo"
                             "sixth sixth seventh seventh eighth eighth"
                             "sixth sixth seventh seventh ninth  tenth";


    }

@mixin small-item {
        .description {
            display: none;
        }
        .button {
            font-size: .8em;
            padding: 5px 3%;
        }
        h2 {
            font-size: 1em;
        }


}

    .item {
        flex: 1 30%;
        padding: 40px 5%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        @supports not(display:grid) {
            margin: 20px;
        }

        @include grid-support {
            grid-row: span 1;
            grid-column: span 6;



            @media (min-width: 500px) and (max-width: 1100px) {
                grid-column: span 3;
                grid-row: span 2;

                &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(8) {
                  @include small-item;
                  grid-row: span 1;
                }
                &.promo {
                  grid-column: span 6;
                }

            }

            @media (min-width: 1100px) {
                //grid-column: span 1;

                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(9), &:nth-child(10) {
                    @include small-item;
                }
                &:nth-child(1) {
                    grid-area: main;
                }
                &:nth-child(2) {
                    grid-area: second;
                }
                &:nth-child(3) {
                    grid-area: third;
                }
                &:nth-child(4) {
                    grid-area: fourth;
                }
                &:nth-child(5) {
                    grid-area: fifth;
                }
                &:nth-child(6) {
                    grid-area: sixth;
                }
                &:nth-child(7) {
                    grid-area: seventh;
                }
                &:nth-child(8) {
                    grid-area: eighth;
                }
                &:nth-child(9) {
                    grid-area: ninth;
                }
                &:nth-child(10) {
                    grid-area: tenth;
                }

                &.promo {
                    grid-area: promo;
                }

                // &:nth-child(5) {
                //     grid-column: 4 / span 3;
                // }
                // &:nth-child(6), &:nth-child(7) {
                //     grid-column: span 2;
                //     grid-row: span 2;
                //
                // }
                &:nth-child(8) {
                    //grid-column: span 2;
                    @include small-item;
                }
            }
        }
    }
}


.grid--simple {
    display: block;
    margin-bottom: 60px;

    h2 {
        max-width: 100%;
    }
    .description {
        width: 100%;
        max-width: 70vw;
    }
    .button {
        align-self: auto;
        width: 100%;
        text-align: center;
    }
    @media (min-width: 420px) {
        display: flex;
        flex-wrap: wrap;
        .button {
            // max-width: 50vw;
        }
    }

    @include grid-support {
        @media (min-width: 450px) {
            display: grid;
            grid-auto-flow: dense;
            grid-auto-rows: minmax(3vh, 1fr);
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: calc(.5rem + .5vw);
        }

    }


    .item {
        flex: 1 30%;
        padding: 40px 5%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;


        @supports not(display:grid) {
            margin: 20px;
        }

        @include grid-support {
            @media (min-width: 450px) {
            grid-row: span 1;
            grid-column: span 2;

        }


            @media (min-width: 950px) {

                &.small {

                    .button {
                        font-size: .8em;
                        padding: 5px 3%;
                    }
                    h2 {
                        font-size: 1em;
                    }
                }

                &.small {
                    grid-column: span 1;
                }
                &.large {
                    grid-column: span 4;
                }
            }
        }
    }

}
