.site-nav {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 500px) {
        align-items: flex-end;
        flex-direction: row;

    }
    &__item {
        font-size: .75rem;
        color: $color-brand;
        @media (min-width: 500px) {
            margin: 0 20px;
        }
        &:first-child {
            @media (max-width: 500px) {
                margin-left: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 500px) {
    .site-nav {
        height: 100%;
        width: 80vw;
        right: -100vw;
        top: 0;
        position: fixed;
        flex-direction: column;
        background-color: $color-light;
        z-index: 100;
        display: block;
        transition-property: transform;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);

        a {
            text-decoration: none;
            font-size: 1.2rem;
            padding: 1rem;
            display: block;
            border-bottom: 1px solid $color-brand;
        }
    }
}

#nav-toggle {
    position: absolute;
    opacity: 0;
}

#nav-toggle {
    ~ label {
        @media (min-width: 500px) {
            display: none;
        }
        display: block;
        padding: 10px 0;
        color: $color-brand;
        border: 2px solid $color-accent;
        border-radius: 3px;
        width: 90px;
        text-align: center;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
        z-index: 100;
    }
    ~ .overlay {
        display: none;
        z-index: 1;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
    }
}
@media (max-width: 500px) {


    #nav-toggle:checked {

        ~ label {
            position: sticky;
            background-color: $color-accent;
            color: $white;
            transform: translateX(calc(-100vw + 100% + 25px));
            &::before {
                content: "Close";
            }
            .toggle-words {
                display: none;
            }
        }
        ~ .overlay {
            display: block;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: transparentize($color-dark, .15);
        }
        ~ .site-nav {
            transform: translateX(-85vw);
        }
    }
}
