.projects {
    margin: 100px 0;
}
.project {
    &_details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project_headline {
        text-align: center;
        color: $brand;
        font-size: calc(1.5rem + 1vw);
        margin-bottom: 1rem;
    }
    padding: calc(1rem + 2vw) 5%;
    background-color: $brand-light;
    &.neutral {
        background-color: darken($brand-neutral, 10%);
        .project_headline {
            color: $brand-accent;
        }
    }
    .project_description {
        column-width: 500px;
        margin-bottom: 20px;
    }
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project_headline {}
    .project_image {
        margin: 0 auto calc(1em + 1vw);
        max-width: 30%;
        min-width: 300px;
    }
    .button {
        align-self: center;
        padding: 10px 100px;
    }
}
