$stripe-background-color: $brand-light;
$stripe-background-secondary-color: darken($brand-neutral, 10%);
$stripe-foreground-color: $brand;
$stripe-foreground-secondary-color: $brand-accent;
$stripe-padding: calc(1rem + 2vw) 5%;
