body {
    color: $dark-gray;
}

a {
    transition: color .5s ease-out;
    text-decoration: none;
    color: $brand-accent;
    &:hover {
        color: $brand;
    }
}

img {
    max-width: 100%;
}
