$spacing: .75rem;

* {
    box-sizing: border-box;
}

body {
    color: $color-dark-gray;
}

a {
    transition: color .5s ease-out;
    text-decoration: none;
    color: $color-accent;
    &:hover {
        color: $color-brand;
    }
}

img {
    max-width: 100%;
}
