$color-brand: rgba(35, 89, 128, 1);
$color-accent: rgba(237, 106, 90, 1);
$color-dark: rgba(4, 30, 31, 1);
$color-light: rgba(94, 177, 191, 1);
$color-neutral: rgba(239, 246, 224, 1);
$white: white;
$black: #222222;
$color-mid-gray: #7f7f7f;
$color-dark-gray: darken($brand-gray, 25%);
$color-light-gray: lighten($brand-gray, 40%);
