@mixin primary-font($weight: 400, $style: normal){
    font-family: 'Lato', sans-serif;
    font-style: $style;
    font-weight: $weight;
}
@mixin secondary-font($weight:400, $style: normal) {
    font-family: 'Rock Salt', cursive;
    font-style: $style;
    font-weight: $weight;
}
$base-font: calc(18px + .5vw);
$base-line-height: calc(1em + .7vw);

body {
    @include primary-font;
    font-size: $base-font;
    line-height: $base-line-height
}

h2, h3, h4, h5, h6 {

}

h1 {
    @include secondary-font;
    font-size: calc(1.3em + 2.5vw);
    line-height: $base-line-height;
    margin-bottom: calc(.5em + .5vw);

}
h2 {
    font-size: calc(1.6em + .5vw);
    line-height: $base-line-height;
    margin-bottom: calc(.5em + .5vw);

}
p {
    margin-bottom: calc(1rem + .3vw);
}
.subhead {
    font-size: calc(1.5rem + .5vw);
    text-align: center;
}
