@mixin primary-font($weight: 300, $style: normal){
    font-family: 'Merriweather', Georgia, serif;
    font-style: $style;
    font-weight: $weight;
}
@mixin secondary-font($weight:400, $style: normal) {
    font-family: 'Merriweather', serif;
    font-style: $style;
    font-weight: $weight;
}
em {
    @include primary-font($style: italic);
}
strong {
    @include primary-font($style: bold, $weight: 400);
}
$base-font: calc(16px + .5vw);
$base-line-height: calc(1.2em + .75vw);

body {
    @include primary-font;
    font-size: $base-font;
    line-height: $base-line-height
}

h2, h3, h4, h5, h6 {

}

h1 {
    @include primary-font;
    font-size: calc(1.3em + 2.5vw);
    line-height: $base-line-height;
    margin-bottom: .5rem;

}

h2 {
    font-size: calc(1.6em + .5vw);
    line-height: $base-line-height;
    margin-bottom: calc(.5em + .5vw);

}
p {
    margin-bottom: calc(1rem + .3vw);
}
.subhead {
    font-size: calc(1.5rem + .5vw);
    text-align: center;
}
