@mixin primary-font($weight: 300, $style: normal){
    font-family: 'Merriweather', Georgia, serif;
    font-style: $style;
    font-weight: $weight;
}
@mixin secondary-font($weight:400, $style: normal) {
    font-family: 'Merriweather', serif;
    font-style: $style;
    font-weight: $weight;
}
@mixin fontSize($min, $max, $minScreen, $maxScreen) {
    font-size: #{$min}px;

    @media (max-width: #{$maxScreen}px) and (min-width: #{$minScreen}px) {
        font-size: calc(#{$min}px + (#{$max} - #{$min}) * (100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen}));
    }

    @media (min-width: #{$maxScreen}px) {
        font-size: #{$max}px;
    }

}

html, body {
    @include primary-font;
    @include fontSize(16, 24, 320, 1500);
    line-height: 1.4em;
}

em {
    @include primary-font($style: italic);
}
strong {
    @include primary-font($style: bold, $weight: 400);
}

h2, h3, h4, h5, h6 {
    font-size: 1.3rem;
    line-height: 1.4em;
    margin-bottom: calc(.5em + .5vw);
}

h1 {
    @include primary-font;
    font-size: 2.3rem;
    line-height: 1.4em;
    margin-bottom: .5rem;

}

h2 {
    font-size: 1.5rem;
    line-height: 1.4em;
    margin-bottom: calc(.5em + .5vw);

}
p {
    margin-bottom: 1rem;
}
