{% include header.html %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


<section class="banner">

    <aside class="banner__headshot"><img src="/images/bryan-and-link.jpg" alt="This is Bryan's Headshot. He's kind of a dweeb."></aside>

    <main class="banner__copy">

        <h1 class="main-headline">{{ page.headline }}</h1>

        <h2 class="secondary-headline">{{ page.subhead }}</h2>

        <p>I've been in the industry for over a decade now, and I have learned to embrace my professional passions. That's why I care strongly about new web layout, <a href="http://tinyletter.com/code-contemporary">Contemporary Code</a> and building up the developer and designer communities around me.</p>

    </main>

    <aside class="banner-cta">

        <a href="/blog/" alt="A collection of blog posts" class="banner-cta__button"><span class="text">Writing</span></a>
        <a href="/experiments" alt="A collection of my CSS Experiments" class="banner-cta__button"><span class="text">Experiments</span></a>
        <a href="/speaking/" alt="Invite me to speak at your conference" class="banner-cta__button"><span class="text">Speaking</span></a>

    </aside>

</section>




{% include footer.html %}
