{% include header.html %}
    {% include interior-head.html %}

    <main class="interior">


        {% include interior-content-head.html %}
        <main class="container container-narrow">
            {{ content | markdownify }}
        </main>
        {% unless page.comments == "off" %}

        <aside class="comments container container-narrow">
            <div id="disqus_thread"></div>
        </aside>

        <script>
            var disqus_shortname = 'bryanrobinson';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% endunless %}

    </main>


    {% if page.collection == "presentations" %}
        {% include presentation-list.html %}
    {% endif %}


{% include footer.html %}
